body{
    font-family: verdana, sans-serif;
}

p{
    font-size: 18px;
}

.destaque{
    line-height: 35px;
    text-align: justify; /* left - right - center - justify */
}

.titulo{
    /* word-spacing: 20px; */
    word-spacing: -5px;
    letter-spacing: 5px;
    text-align: center;
    /* color: rgb(138, 44, 226); */
    color: #610daf;
}

.tarefas{
    list-style-position: outside;  /* inside - outside */
    list-style-type: square;  /* disc - circle - squere */
    list-style-image: url(check.png); /* icon archeve*/
}

.corrida{
    list-style-type: upper-alpha;  /* decimal - lower-roman - upper-roman - lower-alpha - upper-alpha */
}

.alerta img{
    vertical-align: middle; /* sub - super - top - bottom - middle */
}

h2 span{
    vertical-align: sub;
    font-size: 16px;
}

.potencia span{
    vertical-align: super;
    font-size: 16px;
}