body{
    margin: 0;
    background-color: rgb(181, 150, 253);
    background-image: url(imagens/placaAlien.jpg);
    background-repeat: no-repeat;   /* repeat - repeat-x - repeat-y - no-repeat*/
    background-position: top center;
    background-attachment: fixed;  /* scroll - fixed */
    /*background-size: 300px auto;*/
    /*background-size: 100% auto;*/
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 52px;
    margin-top: 0;
    background-color: #004730;
    color: #adffff;
}
.conteudo{
    background-image: url(imagens/aliem.png);
    background-repeat: no-repeat; 
    background-position: bottom right;
    background-color: #adffff;
    width: 60%;
    height: 700px;
    
    /* margin-left: 15px;
    margin-top: 50px;
    margin-right: 15px; 
    margin-bottom: 80px;*/
    margin: 50px auto;
}
.conteudo h2{
   background-color: #8a2be2; 
   color: #ffffff;
   width: 80%;
   text-align: center;
   
}
div p{
    padding: 0 10px;
}
