
/* Selecionando (chamando)
	o elemento pelo nome da tag */

body{
	font-family: verdana, sans-serif;
}

h1{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 52px;
	font-style: italic;	/* normal - oblique - italic*/
	font-weight: bold; /* bold - bolder - normal - "numerica"*/
	text-transform: uppercase; /* uppercase - lowercase - capitalize*/
	color: green;
}

h2{
	font-size: 36px;
	color: red;
}

/* Selecionando (chamando)
	o elemento pelo ID */
#destaque{
	color: orange;
}

/* Selecionando (chamando)
	o elemento pelo ID */
.titulo{
	color: green;
}

/* HIerarquia dos seletores CSS*/
h2  strong{
	background-color: purple;
}

p strong{
	background-color: grey;


}

#titulo strong{
	background-color: green;
}

.alerta p strong{
	background-color: orange;
}

