

body{
    text-align: center;
    font-family: sans-serif;
    background-image: url(imagens/fundo.avif);
    color: antiquewhite;
}

h1{
    text-transform: uppercase;
    font-size: 54px;
    color: #FBF0CA;
    text-shadow: 0 0 8px #fff;
}
.celular{
    font-size: 20px;
    margin: 25px auto;
}

.rotacao{
    transform: rotate(120deg);
    vertical-align: top;
    margin-left: 300px; 
}

.logo{
    margin: 20px auto 0px;
}

.centro{
    font-size: 16px;
    margin-top: 0;
}